{% load staticfiles %}
<!DOCTYPE html>
<html data-ng-app="s2bApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"
          content="Ramiro Alvaro - ramiroalvaro@hotmail.com & Pedro Paulo Gonçalves Abreu - pedropga95@gmail.com">
    <meta name="description" content="Terceira etapa do Programa Students to Business (S2B) em Belo Horizonte - MG.">
    <title>S2B-P@@L</title>
    <link rel="stylesheet" href="{% static 'core/css/amelia.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>
{% verbatim %}
<div data-ng-controller="AuthController as vm" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">S2B-P@@L</a>
            <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li data-ng-show="vm.isLoggedIn()"><a href="/#!trip">Trajeto</a></li>
                <li><a href="/#!about">Quem Somos</a></li>
                <li><a href="/#!contact">Contato</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-hide="vm.isLoggedIn()"><a href="/#!login/">LOGIN</a></li>
                <li data-ng-hide="vm.isLoggedIn()"><a href="/#!register/">CRIAR CONTA</a></li>
                <li data-ng-show="vm.isLoggedIn()" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ vm.$storage.username | uppercase }}
                        <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" data-ng-click="vm.logout()">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endverbatim %}
<div class="container" data-ng-view></div>
<script src="{% static 'core/vendor/angular.min.js' %}"></script>
<script src="{% static 'core/vendor/angular-route.min.js' %}"></script>
<script src="{% static 'core/vendor/angular-resource.min.js' %}"></script>
<script src="{% static 'core/vendor/angular-messages.min.js' %}"></script>
<script src="{% static 'core/vendor/ui-bootstrap-custom-2.5.0.min.js' %}"></script>
<script src="{% static 'core/vendor/ui-bootstrap-custom-tpls-2.5.0.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'core/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/app_client/app.js' %}"></script>
<script src="{% static 'core/js/app_client/home/home.controller.js' %}"></script>
<script src="{% static 'core/js/app_client/about/about.controller.js' %}"></script>
<script src="{% static 'core/js/app_client/auth/auth.controller.js' %}"></script>
<script src="{% static 'core/js/app_client/tripDetail/tripDetail.controller.js' %}"></script>
<script src="{% static 'core/js/app_client/messageModal/messageModal.controller.js' %}"></script>
<script src="{% static 'core/js/app_client/contact/contact.controller.js' %}"></script>
<script src="{% static 'core/js/app_client/tripForm/tripForm.controller.js' %}"></script>
<script src="{% static 'core/js/app_client/common/directives/footerGeneric/footerGeneric.directive.js' %}"></script>
<script src="{% static 'core/js/app_client/common/directives/pageHeader/pageHeader.directive.js' %}"></script>
<script src="{% static 'core/js/app_client/common/services/authentication.service.js' %}"></script>
<script src="{% static 'core/js/app_client/common/services/s2bData.service.js' %}"></script>
</body>
</html>