<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <input id="filter" type="text" name="filter" ng-model="textFilter" placeholder="Buscar" autofocus><br><br>

      <!--<div class="error">{{ vm.message }}</div>-->
      <div class="row list-group">
        <div class="col-xs-12 list-group-item" ng-repeat="trip in vm.data.trips | filter : textFilter">
          <h3>
            <a href="/#!detail">{{ trip.origin }} --> {{ trip.destination }}</a>

            <span class="badge pull-right badge-default">{{ trip.username }}</span>
          </h3>
          <p class="address">{{ trip.origin_address }} --> {{ trip.destination_address }}</p>
          <p>
            <span class="label label-warning label-facility" ng-repeat="item in trip.items">
              {{ item }}
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="lead">{{ vm.sidebar.content }}</p>
    </div>
  </div>

  <footer-generic></footer-generic>
</div>