<div class="container">

  <page-header content="vm.pageHeader"></page-header>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <form ng-submit="vm.submit()" name="tripForm">
        <div class="form-group">
          <label for="bairroo">Bairro de origem *</label>
          <input type="text" ng-model="vm.trip.bairroo" class="form-control" id="bairroo" placeholder="Digite o bairro de origem" required autofocus>
        </div>
        <div class="form-group">
          <label for="enderecoo">Endereço de origem *</label>
          <input type="text" ng-model="vm.trip.enderecoo" class="form-control" id="enderecoo" placeholder="Digite o endereço de origem" required>
        </div>
        <div class="form-group">
          <label for="bairrod">Bairro de destino *</label>
          <input type="text" ng-model="vm.trip.bairrod" class="form-control" id="bairrod" placeholder="Digite o bairro de destino" required>
        </div>
        <div class="form-group">
          <label for="enderecod">Endereço de origem *</label>
          <input type="text" ng-model="vm.trip.enderecod" class="form-control" id="enderecod" placeholder="Digite o endereço de destino" required>
        </div>
        <div class="form-group">
          <label for="carro">Carro *</label>
          <input type="text" ng-model="vm.trip.carro" class="form-control" id="carro" placeholder="Digite marca e modelo do carro" required>
        </div>
        <div class="form-group">
          <label for="placa">Placa do carro *</label>
          <input type="text" ng-model="vm.trip.placa" class="form-control" id="placa" placeholder="Digite a placa do carro" required>
        </div>
        <div class="form-group">
          <label for="asento">Cantidade de asentos *</label>
          <input type="number" ng-model="vm.trip.asento" class="form-control" id="asento" placeholder="Digite a cantidate de asentos disponibles" min="1" max="10" required>
        </div>
        <div class="form-group" ng-init="vm.trip.tipo = 'Eventual'">
          <label for="tipo">Tipo de trajeto *</label>
          <select ng-model="vm.trip.tipo" class="form-control" id="tipo">
            <option>Eventual</option>
            <option>Habitual</option>
          </select>
        </div>
        <div ng-show="vm.trip.tipo == 'Habitual'">
            <div class="form-group form-inline">

               <input type="time" name="hora" value="12:00" step="600">
               <div class="checkbox">
                  <label><input type="checkbox" value="">Segunda-feira</label>
               </div>
            </div>
            <div class="form-group form-inline">

               <input type="time" name="hora" value="12:00" step="600">
                <div class="checkbox">
                  <label><input type="checkbox" value="">Terça-feira</label>
               </div>
            </div>
            <div class="form-group form-inline">

               <input type="time" name="hora" value="12:00" step="600">
                <div class="checkbox">
                  <label><input type="checkbox" value="">Quarta-feira</label>
               </div>
            </div>
            <div class="form-group form-inline">

               <input type="time" name="hora" value="12:00" step="600">
                <div class="checkbox">
                  <label><input type="checkbox" value="">Quinta-feira</label>
               </div>
            </div>
            <div class="form-group form-inline">

               <input type="time" name="hora" value="12:00" step="600">
                <div class="checkbox">
                  <label><input type="checkbox" value="">Sexta-feira</label>
               </div>
            </div>
            <div class="form-group form-inline">

               <input type="time" name="hora" value="12:00" step="600">
                <div class="checkbox">
                  <label><input type="checkbox" value="">Sábado</label>
               </div>
            </div>
            <div class="form-group form-inline">

               <input type="time" name="hora" value="12:00" step="600">
                <div class="checkbox">
                  <label><input type="checkbox" value="">Domingo</label>
               </div>
            </div>
        </div>
        <div ng-show="vm.trip.tipo == 'Eventual'">
            <div class="form-group">
               <label for="dia">Dia e horário *</label>
               <input type="datetime-local" ng-model="vm.trip.dia" class="form-control" id="dia" required>
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="tripForm.$invalid">COMPARTILHAR</button>
      </form>
    </div>
  </div>

  <footer-generic></footer-generic>
</div>