<div class="container">
    <page-header content="vm.pageHeader"></page-header>


    <div class="row">
        <div class="col-md-6 col-sm-8">
            <p class="lead">Ainda não possui uma conta? <a href="/#!register/">Clique aqui</a></p>
            <div data-ng-messages="vm.user.error">
                <div class="alert alert-warning" data-ng-message="non_field_errors">
                    <a class="close" data-ng-click="vm.user.error = ''" aria-label="close">&times;</a>
                    {{ vm.user.error.non_field_errors[0] }}
                </div>
            </div>
            <form data-ng-submit="vm.login(vm.user)" name="loginForm">
                <div class="form-group">
                    <label for="name">Nome de usuário *</label>
                    <input type="text" class="form-control" id="name" placeholder="Digite seu nome de usuário"
                           data-ng-model="vm.user.username" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Senha *</label>
                    <input type="password" class="form-control" id="password" placeholder="Digite sua senha"
                           data-ng-model="vm.user.password" required>
                </div>
                <p>(*) São obrigatórios</p>
                <button type="submit" class="btn btn-default" data-ng-disabled="loginForm.$invalid">ENTRAR</button>
            </form>
        </div>
    </div>

    <footer-generic></footer-generic>
</div>