<div class="container">
    <div id="banner" class="page-header">
        <div class="row">
            <div class="col-lg-6"></div>
            <h1>
                CADASTRE-SE
                <small></small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p class="lead">Já possui uma conta? <a href="/#!login/">Clique aqui</a></p>
            <form data-ng-submit="vm.register(vm.user)" name="registerForm">
                <div class="form-group">
                    <label for="name">Nome de usuário *</label>
                    <input type="text" class="form-control" id="name" placeholder="Digite seu nome de usuário"
                           data-ng-model="vm.user.username" required autofocus>
                </div>
                <div class="form-group">
                    <label for="email">E-mail *</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite seu E-mail"
                           data-ng-model="vm.user.email" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha *</label>
                    <input type="password" class="form-control" id="password" placeholder="Digite sua senha"
                           data-ng-model="vm.user.password" required>
                </div>
                <p>(*) São obrigatórios</p>
                <button type="submit" class="btn btn-default" data-ng-disabled="registerForm.$invalid">CADASTRE-SE
                </button>
            </form>
        </div>
    </div>

    <footer-generic></footer-generic>
</div>