.mensagen {padding-bottom: 5px;}
.panel-body.mensagen-container {padding-top: 0;}
.mensagen-header {margin-bottom: 10px;}
.mensagenAuthor {margin: 0 5px;}
.mensagenTimestamp {color: #ccc;}

.label-item {margin-right: 2px}
#filter {margin-left: 4px;}