.mensagen {padding-bottom: 5px;}
.panel-body.mensagen-container {padding-top: 0;}
.mensagen-header {margin-bottom: 10px;}
.mensagenAuthor {margin: 0 5px;}
.mensagenTimestamp {color: #ccc;}

.label-item {margin-right: 2px}
#filter {margin-left: 4px;}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cabin",Arial,sans-serif !important;
}